/* ページ全体 */
.all-content {
    max-width: 1540px;
}
/* マイページコンテナ */
.mypage-container {
    width: 100%;
    background: #fff;
    padding: 32px;
    border-radius: 8px;
}
/* プロフィール画像 */
.preview-image {
    width: clamp(75px, 9.7vw, 150px);
    height: clamp(75px, 9.7vw, 150px);
    object-fit: cover;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.img-group {
    display: flex;
    width: 100%;
    max-width: 1017px;
    align-items: center;
    margin-top: 30px;
    margin-left: 200px;
}

/* ユーザー名 */
h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    margin-left: 100px;
}

/* プロフィール編集リンク */
.profile-edit-link {
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #FF5555;
    border: 2px solid #FF5555;
    background-color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    height: 59px;
    padding: 5px;
    margin-left: 300px;
}

/* タブメニュー */
.tab-menu {
    width: 100%;
    height: 47px;
    margin-top: clamp(25px, 3.05vw, 47px);
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.tab-link {
    width: 155px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: right;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: clamp(18px, 1.8vw, 24px);
    line-height: 1;
    vertical-align: middle;
    text-decoration: none;
    color: #5F5F5F;
    margin-left: 50px;
}

.tab-link.active {
    color: red;
    /* アクティブタブの文字色 */
}
/* 区切り線 */
.separator {
    border: 2px solid #5F5F5F;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;

}
/* 商品一覧 */
.tab-content {
    max-width: 1540px;
    width: 100%;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-content: center;
    max-width: 1540px;
    margin: 30px auto;
}

.item-image {
    width: 290px;
    height: 290px;
    border-radius: 4px;
    object-fit: cover;
}

.item-name {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(14px, 1.8vw, 25px);
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000;
}

/* PC (1400px以上) */
@media (min-width: 1400px) and (max-width: 1540px) {
    .img-group {
    width: 1017px;
    }
    .profile-edit-link{
        margin-left: 320px;
    }
}

/* タブレット (768〜850px) */
@media (min-width: 768px) and (max-width: 850px) {
    .all-content{
        width: 100%;
    }
    .img-group {
        width: 550px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .profile-edit-link {
        width: 200px;
        height: 28px;
        margin-left: 110px;
        font-size: 16px;
    }

    h1{
        font-size: 24px;
        margin-left: 50px;
    }
    .tab-menu {
        padding-left: 20px;
    }

    .tab-link {
        margin-left: 10px;
    }

    .item-list {
        gap: 25px;
        max-width: 850px;
        margin: 10px auto;
        padding-left: 0;
    }
    .item-image {
        width: 150px;
        height: 150px;
        border-radius: 4px;
        margin-top: 20px;
    }
}