/* 全体レイアウト */
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.login-form__content {
    width: 680px;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 8px;
}

.login-form__heading {
    text-align: center;
    margin-bottom: 20px;
    height: 46.04px;
}

h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: clamp(16px, 2.5vw, 36px);
    line-height: 1;
    letter-spacing: 0%;
    text-align: center;
}

/* 入力欄全体 */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* 入力欄 */
.form-label {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: clamp(14px, 1.8vw, 24px);
    font-family: Inter;
}

.form-group input {
    width: 100%;
    height: 59px;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #5F5F5F
}

/* エラーメッセージ */
.input-error-message,
.error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 4px;
}

/* ボタン */

.submit-btn {
    width: 100%;
    height: 65px;
    padding: 14px;
    background-color: #f55;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-family: Inter;
    font-weight: 700;
    font-size: clamp(16px, 2.0vw, 26px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


/* ログインリンク */
.login-form__content a {
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(14px, 1.5vw, 20px);
    line-height: 100%;
    text-align: center;
}

.register-form__content a:hover {
    text-decoration: underline;
}


/* タブレット (768〜850px) */
@media (min-width: 768px) and (max-width: 850px){
    .login-form__content {
        width: 300px;
        padding: 30px 20px;
    }

    .form-group input {
        height: 40px;
        width: 100%;

    }

    .submit-btn {
        height: 44px;
    }
}

