/* 全体レイアウト */
.sell-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell-form__content{
    max-width: 680px;
    width: 100%;
}

/* 見出し */
h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0%;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0%;
    color: #5F5F5F;
    margin-top: 50px;
}

/* 画像アップロード */
.image-frame{
    width: 100%;
    height: 150px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1px;
    border: 1px dashed #5F5F5F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.select-btn{
    width: 165px;
    height: 43px;
    opacity: 1;
    border-radius: 10px;
    color: #FF5655;;
    background-color: #fff;
    border: 2px solid #FF5555;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0%;
}

/* カテゴリー選択 */
.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-label input {
    display: none;
}

.category-label span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 2px solid #FF5655;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #FF5655;
    user-select: none;
}

.category-label input:checked+span {
    background: #FF5655;
    color: #fff;
}

/* プルダウン */
.select_wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.select_wrapper::after {
    position: absolute;
    right: 15px;
    width: 16px;
    height: 16px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}
select{
    appearance: none;
    width: 100%;
    height: 45px;
    opacity: 1;
    border-width: 1px;
    color: #5F5F5F;
    border: 1px solid #5F5F5F;
    padding-left: 5px;
}

/* 入力フォーム */
.form-label{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0%;
    color: #000000;
    margin-bottom: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.input-form{
    width: 100%;
    height: 45px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #5F5F5F;
    font-size: 20px;
}

textarea{
    width: 100%;
    height: 125px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

/* 価格入力 */
.price-input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.yen-mark {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    pointer-events: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0%;
}

.price-input {
    width: 100%;
    padding-left: 40px;
    height: 45px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #5F5F5F;
    font-size: 20px;
}

/* 送信ボタン・エラーメッセージ */
.submit-btn{
    margin-top: 60px;
    width: 100%;
    height: 60px;
    opacity: 1;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #FF5555;
    border: #FF5555;
}

.input_error_message {
    display: block;
    color: red;
    font-size: 18px;
    margin-top: 4px;
}


@media (min-width: 768px) and (max-width: 850px) {
    .sell-form__content {
        max-width: 480px;
        width: 100%;
    }

    .image-frame {
        width: 100%;
        height: 100px;
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 24px;
    }

    .form-label{
        font-size: 20px;
    }

    .submit-btn{
        font-size: 22px;
        font-weight: bold;

    }



}