/* 全体レイアウト */
.all-contents {
    max-width: 1540px;
    width: 100%;
    display: flex;
}

.left-container {
    margin-top: 50px;
    margin-left: clamp(40px, 5.18vw, 80px);
    width: clamp(400px, 52.5vw, 805px);
}

.right-container {
    margin-top: 50px;
}

/* 商品情報 */
.image-detail{
    display: flex;
}
.item-image {
    width: 117.53px;
    height: 117.53px;
    border-radius: 4px;
    opacity: 1;
    margin-top: 20px;
    object-fit: cover;
}

.detail-content{
    margin-left: 40px;
    padding-top: 0;
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(20px, 1.9vw, 30px);
    line-height: 1;
    letter-spacing: 0%;
    margin-bottom: 0;
}

.item-price{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(18px, 1.7vw, 27px);
    line-height: 1;
    letter-spacing: 0%;
    margin-top: 20px;
    margin-right: 20px;
}

/* 支払い方法エリア */
.select-wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.select-wrapper::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;}

select {
    appearance: none;
    width: clamp(180px, 16vw, 230px);
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #5F5F5F;
    border-radius: 3px;
    background-color: #fff;
    color: #5F5F5F;
    font-size: 1em;
    cursor: pointer;
    }

.payment-select{
    max-width: 265px;
    width: 100%;
    height: 31px;
    opacity: 1;
    border-width: 1.5px;
    border-radius: 5px;
    border: 1.5px solid #B1B1B1;
    margin-left: 70px;
}

option{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
}

.option-text{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
}

/* 配送先 */
.address-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.default-address{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: clamp(16px, 1.2vw, 20px);
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-left: 70px;
}

.input-address{
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(16px, 1.2vw, 20px);
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: none;
    color: #0073CC;
    margin-right: 30px;
}

/* 右側小計画面 */
.two-rows {
    display: flex;
    flex-direction: column;
    width: clamp(270px, 28vw, 440px);
    height: clamp(58px, 18vw, 115px);
    margin: 0 50px;

}

.box {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;

}

.box-name {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(14px, 1.6vw, 20px);
    line-height: 1;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #000;
}

.item-price,
.payment-item {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(16px, 1.8vw, 24px);
    line-height: 1;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

.buy-button{
    margin-top: clamp(50px, 2.5vw, 100px);
    width: clamp(270px, 28vw, 440px);
    height: clamp(40px, 2.59vw, 60px);
    opacity: 1;
    border-radius: 5px;
    background-color: #FF5555;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(18px, 1.6vw, 26px);
    line-height: 1;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border: none;
}

.sold-button{
    width: clamp(270px, 28vw, 440px);
    height: clamp(40px, 2.59vw, 60px);
    opacity: 1;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(20px, 2.2vw, 26px);
    line-height: 1;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

/* 共通スタイル */
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(16px, 1.2vw, 20px);
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-left: 20px;
}

.separator {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
}

/* タブレット・スマホ用 */
@media (min-width: 768px) and (max-width: 850px) {
    .item-image {
        width: 90px;
        height: 90px;
    }
}